.contact-box-section .left-sidebar-box .contact-image {
    text-align: center;
    margin-bottom: calc(25px + (64 - 25) * ((100vw - 320px) / (1920 - 320)));
}
.contact-box-section .left-sidebar-box .contact-image img {
    width: 60%;
}
.contact-box-section .left-sidebar-box .contact-title {
    margin-top: 10px;
    margin-bottom: calc(20px + (32 - 20) * ((100vw - 320px) / (1920 - 320)));
}
.contact-box-section .left-sidebar-box .contact-title h3 {
    position: relative;
    display: inline-block;
    font-size: calc(23px + (28 - 23) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
}
.contact-box-section .left-sidebar-box .contact-title h3::after {
    --theme-color1: #0e947a;
    --theme-color: #0da487;
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background: linear-gradient(90.56deg, var(--theme-color1) 8.46%, var(--theme-color) 62.97%);
}
.contact-box-section .left-sidebar-box .contact-detail .contact-detail-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: calc(2px + (5 - 2) * ((100vw - 320px) / (1920 - 320)));
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f8f8f8;
    padding: calc(15px + (27 - 15) * ((100vw - 320px) / (1920 - 320))) calc(15px + (27 - 15) * ((100vw - 320px) / (1920 - 320))) calc(15px + (27 - 15) * ((100vw - 320px) / (1920 - 320))) calc(30px + (41 - 30) * ((100vw - 320px) / (1920 - 320)));
    position: relative;
    border-radius: 10px;
    margin-left: 22px;
}
.contact-box-section .left-sidebar-box .contact-detail .contact-detail-box .contact-icon {
    --theme-color: #0da487;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    left: -21px;
    background-color: var(--theme-color);
    padding: 13px;
    border-radius: 7px;
    display: inherit;
    color: #fff;
}
.contact-box-section .left-sidebar-box .contact-detail .contact-detail-box .contact-detail-title h4 {
    font-weight: 600;
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
    margin-top: -2px;
}
.contact-box-section .left-sidebar-box .contact-detail .contact-detail-box .contact-detail-title, .contact-box-section .left-sidebar-box .contact-detail .contact-detail-box .contact-detail-contain {
    width: 100%;
}
.contact-box-section .left-sidebar-box .contact-detail .contact-detail-box .contact-detail-contain p {
    margin: 0;
    font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
    line-height: 1.5;
    color: #4a5568;
    margin-bottom: -5px;
}
.contact-box-section .left-sidebar-box .contact-detail .contact-detail-box .contact-icon {
    --theme-color: #0da487;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    left: -21px;
    background-color: var(--theme-color);
    padding: 13px;
    border-radius: 7px;
    display: inherit;
    color: #fff;
}
.contact-box-section .right-sidebar-box {
    padding: calc(21px + (60 - 21) * ((100vw - 320px) / (1920 - 320)));
    border-radius: 10px;
    background-color: #f8f8f8;
}
.contact-box-section .right-sidebar-box .custom-form label {
    color: #4a5568;
    display: block;
    font-size: 16px;
    margin-bottom: calc(3px + (8 - 3) * ((100vw - 320px) / (1920 - 320)));
}
.contact-box-section .right-sidebar-box .custom-form .custom-input {
    position: relative;
}
.contact-box-section .right-sidebar-box .custom-form .custom-input .form-control {
    padding: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320))) calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320))) calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320))) calc(41px + (52 - 41) * ((100vw - 320px) / (1920 - 320)));
    border: none;
}
.form-control {
    background-color: #fff;
}
.contact-box-section .right-sidebar-box .custom-form .custom-input i {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0 calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
    color: #4a5568;
}
.contact-box-section .right-sidebar-box .custom-form .custom-textarea {
    position: relative;
}
.contact-box-section .right-sidebar-box .custom-form .custom-textarea i {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 18px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    color: #4a5568;
}
.contact-box-section .right-sidebar-box .custom-form label {
    color: #4a5568;
    display: block;
    font-size: 16px;
    margin-bottom: calc(3px + (8 - 3) * ((100vw - 320px) / (1920 - 320)));
}
.contact-box-section .right-sidebar-box .custom-form label {
    color: #4a5568;
    display: block;
    font-size: 16px;
    margin-bottom: calc(3px + (8 - 3) * ((100vw - 320px) / (1920 - 320)));
}
.contact-box-section .right-sidebar-box .custom-form .custom-textarea .form-control {
    padding-left: 52px;
    border: none;
}
textarea.form-control {
    padding-top: 18px;
     min-height: calc(1.5em + 0.75rem + 2px);
 }
.btn-animation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    background: transparent;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    background: #ff6b6b;
    background: -webkit-gradient(linear, left top, right top, from(#ff6b6b), to(#ff4f4f));
    background: linear-gradient(90deg, #ff6b6b 0%, #ff4f4f 100%);
    border: none;
    z-index: 0;
}
.btn-md {
    padding: calc(8px + (11 - 8) * ((100vw - 320px) / (1920 - 320))) calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
}
.btn-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background: #ff4f4f;
    background: -webkit-gradient(linear, left top, right top, from(#ff4f4f), to(#ff6b6b));
    background: linear-gradient(90deg, #ff4f4f 0%, #ff6b6b 100%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
button:not(:disabled) {
    cursor: pointer;
}
.btn-animation:hover {
    color: #fff;
}
.was-validated:invalid .invalid-feedback{
    display: block !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}