.article-banner {
    --size : 500px;
    height : var(--size);
    margin-bottom: 70px;
}
.article-item__des h3 {
    font-size: 22px;
    font-weight: 700;
    display: -webkit-box;
    height: 3.5vw;
    overflow: hidden;
}
.article-banner .small-text {
    font-size: 22px;
    color:#49B288;
}
.article-item{
    cursor: pointer;
    text-decoration: none;
    color: unset;
    transition: 0.5s linear ease;
}
.article-item:hover{
    background: rgba(204, 204, 204, 0.23);
}

@media screen and (max-width: 750px) {
    .article-item__des h3 {
        font-size: 16px;
        height: unset;
    }
    .article-banner  .small-text{
        font-size: 16px;
    }
    .sub-text p {
        font-size: 13px;
    }
}
@media screen and (min-width: 760px) and (max-width: 1200px) {
    .article-item__des h3 {
        font-size: 20px;
        height: 5.5vw;
    }
    .article-banner  .small-text{
        font-size: 20px;
    }
    .sub-text p {
        font-size: 14px;
    }
}