.main-header .my-logo {
	width: 57px;
	height: 40px;
}

.main-header .logo-avatar {
	width: 30px;
	height: 30px;
	font-size: 16px;
	font-weight: 500;
}

.main-header .my-divider {
	width: 2px;
	height: 20px;
	background: rgb(235, 235, 240);
}

#search-bar:focus {
	color: var(--bs-body-color);
	background-color: var(--bs-body-bg);
	outline: 0;
	box-shadow: none;
}

.nav-item.active .nav-link {
	background-color: rgba(64, 137, 255, 0.729);
	color: white;
}

#search-bar:focus + #button-addon2 {
	border-color: #86b7fe;
	border-left: 0px;
}
.dropdown-item:hover {
	background-color: #dce3ea;
}

@media screen and (max-width: 1135px) {
	header a span {
		font-size: 12px !important;
	}
	
	header a i {
		display: none;
	}
}
